# uv 
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

.cache/
.DS_Store
diff-ml-main/
results/
data/aapl_chain.json


*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.toc
*.pptx
Report/report.log